*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
}

html,body {
    width: 100vh;
}

._container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid yellowgreen;
    width: auto;
}

.container__box {
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 270px;
    height: 200px;
    margin: 16px;
    border: 1px solid rebeccapurple;
}


._title {
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}


.features {
    /* border: 2px solid green; */
    display: grid; 
	grid-template-columns: repeat(4, 1fr);  /*colunas 4, 1 fracionário*/
	max-width: 800px;  
	padding: 10px;
	margin: 0 auto;   /*alinhamento ao centro*/
	grid-gap: 10px; 

}
.features  ._box:nth-child(n + 3) {   /*estilo  a partir do 3 item*/  
	display: grid;    
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
	align-items: center; /*align do text com a image*/
}

.new-account {
	grid-column: 1;  /*quero na primeira column*/
	grid-row: 2 / 3;  /* a partir da 2linha até  a 5 linhas */
	border-top: 10px solid tomato;
    text-align: center; 
}

img {
    max-width: 100%;
    display: block;
}

._box h2 {
    display: block;
    font-size: .90rem;
    text-align: center;

}
.__responseSaldo,
.__responseDeposito{
    color: #A52A2A;
    font-size: 1rem;
    font-weight: 500;
    
}

.__responseSuccess {
    color:#87CEEB;
    font-size: 1rem;
    font-weight: 500;       
}